
@{
    ViewBag.Title = "Anasayafa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h4></h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline11">
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">2019</span>
                        <div class="inner-content">
                            <h3 class="title">.Net Eğitimi</h3>
                            <p class="description">
                                WEB ve Mobil Eğitimi. Ayrıntılar bilgiler kısmındadır.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">2018</span>
                        <div class="inner-content">
                            <h3 class="title">Yazılım Mühendisi</h3>
                            <p class="description">
                                <h4>2017-2018 (1 Yıl)</h4>
                                Sanlab Simulation firmasında C ve C# ile çalışmalar yürüttüm. Ayrıntılar bilgiler kısmındadır.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">2018</span>
                        <div class="inner-content">
                            <h3 class="title">Sakarya Üniversitesi</h3>
                            <p class="description">
                                Mekatronik mühendisliği bölümünde Yüksek Lisans eğitimi almaktayım. Ayrıntılar bilgiler kısmındadır.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">2017</span>
                        <div class="inner-content">
                            <h3 class="title">Marmara Üniversitesi</h3>
                            <p class="description">
                                <h4>2013-2017</h4>
                                Marmara Üniversitesi Teknoloji Fakültesi Mekatronik Mühendisliği bölümü Lisans Derecesini 4 yılda tamamlamış bulunmaktayım. Ayrıntılar bilgiler kısmındadır.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">2017</span>
                        <div class="inner-content">
                            <h3 class="title">Stajyer</h3>
                            <p class="description">
                                <h4>06.2017-08.2017 (3 Ay)</h4>
                                Sanlab Simulation firmasında Yazılım ofisi bünyesinde staj yaptım. Ayrıntılar bilgiler kısmındadır.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">2017</span>
                        <div class="inner-content">
                            <h3 class="title">Stajyer</h3>
                            <p class="description">
                                <h4>09.2016-01.2017 (5 Ay)</h4>
                                Serra Seranit firmasında Elektrik Bakım ofisi bünyesinde staj yaptım. Ayrıntılar bilgiler kısmındadır.
                            </p>
                        </div>
                    </a>
                </div>

                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">2015</span>
                        <div class="inner-content">
                            <h3 class="title">Stajyer</h3>
                            <p class="description">
                                <h4>07.2016-09.2017 (3 Ay)</h4>
                                Bantboru firmasında Ar-Ge ofisi bünyesinde staj yaptım. Ayrıntılar bilgiler kısmındadır.
                            </p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<hr>

