
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="https://facebook1zamantunelikapakfotograflari35.files.wordpress.com/2012/11/sunset-facebook-kapak-fotografc4b1.jpg" alt="Profile image example" />
        <img align="left" class="fb-image-profile thumbnail" src="https://scontent.fist4-1.fna.fbcdn.net/v/t1.0-9/37258203_1768567783256773_5758553083730722816_n.jpg?_nc_cat=106&_nc_ht=scontent.fist4-1.fna&oh=6366532912b258e6e27fd49ad863ba49&oe=5D43ED47" alt="Profile image example" />
        <div class="fb-profile-text">
            <h1>Burak ÖZEN</h1>
            <p>1995 Yılı Eskişehir de Doğdu.<br />
            Deneme
            </p>
        </div>
    </div>
</div>